<%- include('../partials/Header.ejs') %>
<%- include('../partials/Site_Header.ejs') %>
<table class="table table-bordered table-striped table-hover">
    <tr class="d-flex">
        <th class="text-center col-2">Name</th>
        <th class="text-center col-2">Lastname</th>
        <th class="text-center col-4">UserId</th>
    </tr>
    <% userList.forEach(user => { %>
        <tr class="d-flex">
            <td class="text-center col-2"><%= user.Name %></td>
            <td class="text-center col-2"><%= user.Lastname %></td>
            <td class="text-center col-4"><%= user.UserId %></td>
            <td class="text-center col-1">
                <button class="btn" onclick="window.location.href='/userlist/edit/<%= user._id %>'">Edit</button>
            <td class="text-center col-1">
                <button data-href="/userlist/delete/<%= user._id %>" class="btn" onclick="return confirmDelete('<%= user.UserId %>')">Delete</button>
                    <script>
                        function confirmDelete(Userid) {
                            var result = confirm("Are you sure you want to delete this entry?");
                            if (result) {
                                var element = document.activeElement;
                                var href = element.getAttribute('data-href');
                                window.location.href = href;
                            }
                        }
                    </script>
            </td>
        </tr>
    <% }); %>
</table>
<button class="button" onclick="window.location.href='/userlist/add'" >Add User</button>
<%- include('../partials/Site-Footer.ejs') %>
<%- include('../partials/Footer.ejs') %>